<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DatabaseSchemaViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DatabaseSchemaViewer.Properties.Settings>
      <setting name="SchemaOwner" serializeAs="String">
        <value>dbo</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=Northwind</value>
      </setting>
      <setting name="CodeGenFilePath" serializeAs="String">
        <value>C:\Temp\</value>
      </setting>
      <setting name="CodeGenNamespace" serializeAs="String">
        <value>Domain</value>
      </setting>
      <setting name="Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="ScriptDirectory" serializeAs="String">
        <value>C:\Temp\</value>
      </setting>
      <setting name="CompareConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=Northwind</value>
      </setting>
      <setting name="CodeGenReadProcedures" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CodeGenProjectType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CodeGenUseForeignKeyIdProperties" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeGenUsePluralizingNamer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CodeGenWriteUnitTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeGenWriteProjectFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CodeGenIncludeViews" serializeAs="String">
        <value>False</value>
      </setting>
    </DatabaseSchemaViewer.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />-->
      <!--<remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql"
           description=".Net Framework Data Provider for Postgresql Server"
         type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>-->
    </DbProviderFactories>
  </system.data>
</configuration>