<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseSchemaViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseSchemaViewer.Properties.Settings>
            <setting name="SchemaOwner" serializeAs="String">
                <value>dbo</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=Northwind</value>
            </setting>
            <setting name="CodeGenFilePath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="CodeGenNamespace" serializeAs="String">
                <value>Domain</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
        </DatabaseSchemaViewer.Properties.Settings>
    </userSettings>
</configuration>