<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />-->
      <!--<remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql"
           description=".Net Framework Data Provider for Postgresql Server"
         type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>-->
      <!--<add name="InterSystems Data Provider"
         invariant="InterSystems.Data.CacheClient"
         description="InterSystem .Net Data Provider"
         type="InterSystems.Data.CacheClient.CacheFactory, 
          Intersystems.Data.CacheClient, Version=2.0.0.1, Culture=neutral, PublicKeyToken=ad350a26c4a4447c"
        />-->
      <!--<add name="SQL Anywhere UltraLite.NET 12 Data Provider" invariant="iAnywhere.Data.UltraLite" description=".Net Framework Data Provider for SQL Anywhere UltraLite.NET 12" type="iAnywhere.Data.UltraLite.ULFactory, iAnywhere.Data.UltraLite, Version=12.0.1.3152, Culture=neutral, PublicKeyToken=ff11483eb5a8c1a5" />-->
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="CatalogContainer" connectionString="metadata=res://*/Utilities.EF.Catalog.csdl|res://*/Utilities.EF.Catalog.ssdl|res://*/Utilities.EF.Catalog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProductCatalog;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>