<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebirdSql.Data.FirebirdClient" version="5.6.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net40" />
  <package id="Npgsql" version="2.2.7" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net40" />
</packages>