<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CopyToSQLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CopyToSQLite.Properties.Settings>
      <setting name="SchemaOwner" serializeAs="String">
        <value>dbo</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=Northwind</value>
      </setting>
      <setting name="SqLiteFilePath" serializeAs="String">
        <value>C:\Temp\sql.db</value>
      </setting>
      <setting name="Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="MaximumRecords" serializeAs="String">
        <value>1000</value>
      </setting>
    </CopyToSQLite.Properties.Settings>
  </userSettings>

  <!-- to fix error Mixed mode assembly is built against version 'v2.0.50727' -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>