<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" developmentDependency="true" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net40" />
</packages>